.note {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 18em;
  height: 18em;
  padding: 0.9em;

  background: var(--note-background);

  &.highlight {
    border: 1px solid var(--dark-gray);
  }

  hr {
    align-self: center;
    width: 80%;
    border-bottom: none;

    margin: 0.6em;
  }

  .title {
    text-align: center;

    font-weight: 700;
    width: 100%;
    padding-bottom: 0.3em;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .note-description {
    width: 100%;
    height: 100%;

    overflow-x: hidden;
    overflow-y: scroll;
    overflow-wrap: break-word;

    &::-webkit-scrollbar {
      width: 0.2em;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
    }

    &hover::-webkit-scrollbar-thumb {
      background: #888;
    }
  }
}
