:root {
  --header-background: #2f2f2f;
  --note-background: #c4c4c4;
  --dark-gray: #474747;
}

/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  text-decoration: none;
  --webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li {
  list-style: none;
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-content {
  width: 100%;
  max-width: 400px;
}

@media (max-width: 768px) {
  .header_content {
    width: 100%;
    justify-content: space-around;
  }
}
