:root {
  --header-background: #2f2f2f;
  --note-background: #c4c4c4;
  --dark-gray: #474747;
}

/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  text-decoration: none;
  --webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ul,
  li {
    list-style: none;
  }
}
